/* **************************** */
/* HEADER */
/* **************************** */

.header {
  display: flex;
  justify-content: space-between;
  /* vertically align the elements */
  align-items: center;
  background-color: #fdf2e9;

  /* fixing the height to make the header sticky */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}

/* **************************** */
/* NAVIGATION */
/* **************************** */
.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
/* **************************** */
/* HERO SECTION */
/* **************************** */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0; /*top 4.8rem and bottom 9.6rem*/
}
/* creating a container */
.hero {
  max-width: 130rem; /*1rem=10px 1300px=130rem*/
  /* to centre the div */
  margin: 0 auto;

  /* creating padding to the right and left */
  padding: 0 3.2rem;
  display: grid;
  /* make 2 equally size columns */
  grid-template-columns: 1fr 1fr;
  /* gaps between 2 columns */
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem; /*1rem=10px 20px=2rem*/
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%; /*100% will fill the entire parent element which is "hero-img-box"*/
  /* "hero-img-box" is exactly one of the 2 columns of the grid */
}

.delivered-meals {
  /* displaying the images and text side by side */
  display: flex; /*use flex instead of grid if size of columns is not important*/
  /* let the content determine the sizes */

  align-items: center; /* to centre img and text*/
  gap: 1.6rem;
  /* create vertical spacing between btns and imgs */
  margin-top: 8rem;
}

/* "delivered-imgs" is also a flex container */
.delivered-imgs {
  display: flex;
}

/* selecting img using descendent selector */
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  /* to overlap the imgs */
  margin-right: -1.6rem;

  /* to create a border around the img */
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0; /*can use margin-right also*/
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

/* selecting text using descendent selector */
.delivered-text span {
  color: #cf711f;
  /* make the text bolder */
  font-weight: 700;
}

/* **************************** */
/* FEATURED IN SECTION */
/* **************************** */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888; /*the lower the more black*/
}

.logos {
  /* To put the images side by side */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

/* selecting element using descendent selector */
.logos img {
  height: 3.2rem;
  /* To change the color of the img to full black */
  filter: brightness(0);
  /* to change the black color to grey */
  opacity: 50%; /*can also use 0.5*/
}

/* **************************** */
/* HOW IT WORKS SECTION */
/* **************************** */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  /* to centre the img use flex*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: ""; /*in order to make it appear we have to give it some content.*/
  display: block; /*use block if want to make it into a shape*/

  border-radius: 50%;

  /* in order for the shape to be behind the img */

  position: absolute; /*relative is the parent element*/
  /* to center the shape */
  top: 50%;
  left: 50%;
  /* use transform property */
  transform: translate(-50%, -50%);
}
/* Using the before Pseudo Class */
.step-img-box::before {
  width: 60%; /*img = 35%*/
  /* height: 60%; */

  /* to give it the same height use padding at bottom */
  /* 60% of parents-width */
  padding-bottom: 60%;

  background-color: #fdf2e9;
  /* use z-index to put the circle behind the img */
  z-index: -2;
}

/* Using the after Pseudo Class */
.step-img-box::after {
  width: 45%; /*img = 35%*/

  /* to give it the same height use padding at bottom */
  /* 60% of parents-width */
  padding-bottom: 45%;

  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
  /* can also use z-index here */
  /* z-index: 10; */
}
